.titles {
  text-transform: uppercase;
  text-align: right;
  font-weight: 500;
}

.values {
  text-align: right;
  margin: 0 0.5em;
}

.mobilize {
  visibility: visibile;

  @media screen and (max-width: 768px) {
    visibility: hidden;
  }
}
