.idea
.next
/next/.eslintcache
/next/tsconfig.tsbuildinfo
/next.lock/data
next/.eslintcache
.eslintcache
yarn-error.log
images
dist
node_modules
.DS_Store
/next/.env.local
/next/.env.production
/vendor
*.sql
*.bak
*.sql.tgz
schema.graphql
*.bundle.js
*-stats.json
!next/public/reach/images
!next/public/services/images
