@import '../../styles/vars';

.container {
}

.header {
  padding: 10px 0;
}

.title {
  margin: 0;
}

.controls {
  @include columns(2);
  padding: 10px 0;
}

.articleList {
  padding: 10px 0;
}

.articleContainer {
  @include grid(50px 1fr);
  gap: normal;
  font-size: 12px;
}

.articleTitle {
  margin: 0;
}

.divider {
  height: 1px;
  margin: 10px 0;
  background-color: #ccc;
}
