.titles {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
}

.desc {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
}

.wrapper > * {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
}

.section {
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    color: #2494D6;
    font-size: 16px;
}