.formField {
  input {
    width: 100%;
    border: solid 1px #d7d7d7;
    padding: 7px 10px;
    border-radius: 3px;
  }
}

.message {
  overflow: hidden;
  line-height: 1.4em;
  height: 4em;
}
.expanded {
  overflow: visible;
  height: auto;
}

.collapsed {
  overflow: hidden;
}
