.linkContainer {
  margin: 1em;
  display: flex;
}

.viewLink {
  color: #fff;
  text-align: center;
  width: 100%;
  background-color: #0a4e8d;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 0.75rem;
}
