@use '../../styles/vars' as *;
.mainAppWrapper {
  @include contentWrapper;
}

.mainApp404Wrapper {
  @include contentWrapper;
  background-image: url('../../../public/404/background_404.jpg');
  min-width: 100%;
}

div.logoContainer {
  @include contentWrapper;
  display: flex;
  align-items: center;
  height: 96px;
}
