.leftTitle {
  @media (max-width: 1000px) {
    margin-bottom: 10px;
  }
}

.leftResourcesTitle {
  width: calc(100% - 363px);
  @media (max-width: 1000px) {
    width: 100%;
    margin-bottom: 20px;
  }
}
