@import '../../styles/vars';

.container {
  margin-bottom: 20px;
}

.title {
  display: inline-block;
  color: $blue;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid $grey;
  margin-bottom: 10px;
}

.subtitle {
  margin: 0;
}
