.iconTitleContainer {
  display: flex;

  ul {
    margin-bottom: 1.5em;

    & li {
      padding: 0.1em 0;
    }
  }
}

.iconContainer {
  display: block;
  margin-right: 0.5em;
  margin-top: 3px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}
.title {
  margin-bottom: 0.2em;
}

.item {
  color: #ededed;

  &:hover {
    color: white;
    text-decoration: underline;
  }
}
