.container {
  display: block;

  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 300px;
  }

  & ol {
    list-style: auto;
    padding-inline-start: 22px;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
}

.tableTitle {
  text-align: center;
  background: #194e8d;
  color: #fff !important;
  padding: 10px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  font-family: 'Mulish', sans-serif !important;
}
.wrapper::-webkit-scrollbar {
  display: none;
}
.block {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}
