.title {
  font-family: 'Bebas Neue';
  color: #373737;
}

.subTitle {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.subscribeAll {
  font-family: 'Mulish', sans-serif;
  font-size: 19px;
  color: #373737;
  white-space: pre;
}